/*********************************/
/* Category */
/*********************************/
.breadcrumbs, .breadcrumbs a { }
.breadcrumbs:hover, .breadcrumbs a:hover { }
.products-header { }
.paging strong { }
.paging a { }
/*
.sub-categories {background:none; padding:0 !important; border:none; width:100%; margin:0 0 0 0;}
.sub-categories .name{font-size: 18px; background:none; padding:0 5px; text-transform:none; color:#2c3e50; line-height:32px; font-weight:700;}
.sub-categories:hover .name{background:none; color:#8fd100;}
.sub-categories .img{position:relative; padding:5px 0;}
.sub-categories .img img{position: absolute; margin:auto; top:0; bottom:0; left:0; right:0; max-width:94%; max-height:94%;}
*/